.container {
    height: 110px;
    width: 300px;
    border: 1px solid black;
}
.box {
    height: 100px;
    width: 100px;
   margin: 5px;
}
#box2 {
    float: left;
    background-color: brown;
}
#box1 {
    background-color: blueviolet;
    float: right;
}